@media only screen and (max-width:576px){/*Para un dispositivo de maximo de ancho*/
    main{
       .intro{
       font-family: Arial, Helvetica, sans-serif;
       }
   h1{
       font-family: Arial, Helvetica, sans-serif;
       color: rgb(33, 39, 12);
       text-align: center;
   }
   h3{
       font-family: Arial, Helvetica, sans-serif;
       color: rgb(33, 39, 12);
       text-align:left;
       padding: 20px
   }
   p{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1.2rem;
       line-height: 1.5;
       margin: auto;
       padding: 20px;
   }
   .intro2{
           font-family: Arial, Helvetica, sans-serif;
           }
       h2{
           font-family: Arial, Helvetica, sans-serif;
           color: rgb(33, 39, 12);
           text-align: center;
       }
       p{
           font-family: Arial, Helvetica, sans-serif;
           font-size: 1.2rem;
           line-height: 1.5;
           margin: auto;
           padding: 20px;
       }
  ul{
       list-style-type: square;
       padding: 20px;
       li{
           color:rgb(136, 19, 19);
           margin: auto;
           font-family: Arial, Helvetica, sans-serif;
           padding: 20px;
           justify-content: center;
           text-align: center;
           list-style: none;
       }
   }
}
}

@media only screen and (max-width:576px){
.carrou{
   margin: auto;
   padding: 20px;
   width: auto;
   height: auto;
   display: block;  
}
.grilla{
   margin: auto;
   padding: 12px;
}

.accordion{
   margin: auto;
   padding: 20px;
}
.comidaMichi{
    margin: auto;
    padding: 10px;
    width: auto;
    height: auto;
    display: block;
}
.sesion{
    margin: auto;
    padding: 10px;
    width:auto;
    height: auto;
    display: block
}
.crearCuenta{
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 50%;
    display: block
}
}


@media only screen and (min-width:576px){/*Para un dispositivo a partir de 576px*/
   main{
       .intro{
       font-family: Arial, Helvetica, sans-serif;
       }
   h1{
       font-family: Arial, Helvetica, sans-serif;
       color: rgb(33, 39, 12);
       text-align: center;
   }
   h3{
       font-family: Arial, Helvetica, sans-serif;
       color: rgb(33, 39, 12);
       text-align:left;
       padding: 20px
   }
   p{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1.2rem;
       line-height: 1.5;
       margin: auto;
       padding: 20px;
   }
   .intro2{
           font-family: Arial, Helvetica, sans-serif;
           }
       h2{
           font-family: Arial, Helvetica, sans-serif;
           color: rgb(33, 39, 12);
           text-align: center;
       }
       p{
           font-family: Arial, Helvetica, sans-serif;
           font-size: 1.2rem;
           line-height: 1.5;
           margin: auto;
           padding: 20px;
       }
  ul{
       list-style-type: square;
       padding: 20px;
       li{
           color:rgb(136, 19, 19);
           margin: auto;
           font-family: Arial, Helvetica, sans-serif;
           padding: 20px;
           justify-content: center;
           text-align: center;
           list-style: none;
       }
   }
}
}

@media only screen and (min-width:576px){
   .carrou{
       margin: auto;
       padding: 20px;
       width: auto;
       height: auto;
       display: block;  
   }
   .grilla{
       margin: auto;
       padding: 20px;
   }
   
   .accordion{
       margin: auto;
       padding: 20px;
   }
   
   .comidaMichi{
    margin: auto;
    padding: 20px;
    width: auto;
    height: auto;
    display: block
}
    .crearCuenta{
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 50%;
    display: block
}
.sesion{
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 50%;
    display: block
}
}


   
   